//----------------公共全局变量----------
//背景灰：#edf0f7
//粉红色：#fc87b5
//副标题：#b2b2b2
//详情里面的副标题：#888888
$bgGay:#edf0f7;
$bgPink:#fc87b5;
$subTitle:#b2b2b2;
$subColor:#888888;
@mixin activeBg{
  background-color: rgba(0,0,0,.1);
}

//----------------公共全局代码----------start
html {
  position: relative;
  color: #000;
}

body {
  min-height: 480px;
  font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
  font-size: 12px;
  color: #333;
  padding: 0;
  -webkit-user-select: none;
  width: 750px;
  margin: 0 auto;
  /*box-shadow: rgb(123, 101, 117) 0px 0px 160px 0px;*/
}

cite, em {
  font-style: normal;
}

article, section {
  display: block;
}

dl, dd, ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

img {
  vertical-align: top;
}
.cb{
  clear:both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cs {
  zoom: 1;
}

.cs:after {
  content: " ";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.oh {
  overflow: hidden;
}

.oa {
  overflow: auto;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

//----------------公共全局代码----------end

//----------------首页-------------
.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin:0 auto;

  //设置宝宝预产期
  .register{
    height:45px;
    width:100%;
    line-height: 45px;
    color: $bgPink;
    font-size: 14px;
    .icon-2{
      margin:12px 15px 0 10px;
      img{
        width:22px;
      }
    }
    .icon-3{
      margin:13px 15px 0 0;
      img{
        width:9px;
      }
    }
    &:active{
      @include activeBg;
    }
  }

  // 幻灯片
  .jm-banner {
    position: relative;
    width: 100%;

    .swiper-container{
      width:100%;
      img{
        width:100%;
      }
      .swiper-pagination{
        .swiper-pagination-bullet{
          width: 13px;
          height: 4px;
          display: inline-block;
          border-radius: 0;
          background: #fc87b5;
          opacity: .3;
        }
        .swiper-pagination-bullet-active{
          opacity:1;
          background: $bgPink;
        }
      }

    }
  }

  //详情里面
  .service{
    position: relative;
    background-color: $bgGay;
    //住家月子服务
    .jm-service1{
      position: relative;
      margin-top: 20px;
      background-color: #FFF;
      .title{
        text-align: center;
        font-size: 18px;
        color: #000000;
        margin: 15px 0;
      }
      .specialAd{
        position: absolute;
        right: 15px;
        padding: 5px;
        top: 13px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        color: #ef4f4f;
        font-size: 12px;
        border: 1px solid #ef4f4f;
        &:active{
          @include activeBg
        }

      }
      .part1{
        margin:0 15px;
        img{
          width:100%
        }
      }
      .part2{
        margin:0 15px;
        .ad{
          width:165px;
          margin: 20px 0 10px;
          img{
            width:100%;
          }
          .text{
            width: 100%;
            height: 25px;
            line-height: 30px;
            color: #FFF;
            background-color: #fc87b5;
            text-align: center;
            font-size: 14px;
          }
          .subText{
            text-align: center;
            margin:10px 0;
            font-size: 12px;
            div{
              color: $subTitle;
              display: inline-block;
              &.through{
                text-decoration: line-through;
              }
              img{
                width:12px;
                margin-left: 5px;
              }
            }
          }
        }

      }
    }

    //服务保障
    .jm-service2{
      .items{
        margin:0 15px;
        .item{
          width: 70px;
          float: left;
          margin: 0 8px;
          padding-bottom: 20px;
          .circle{
            width:59px;
            border:1px solid $bgPink;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;;
            margin: 0 auto;
            img{
              width: 40px;
              display: inline-block;
              margin: 10px;
            }
          }
          .text{
            color:$subColor;
            font-size: 14px;
            margin-top: 10px;
            width:100%;
            text-align: center;
          }
          &:active{
            @include activeBg;
          }
        }
        .arrowIcon{
          float:left;
          margin:25px 8px;
          img{
            width:4px;
          }
        }
      }

    }

  }

  //日历
  .calendar{
    .month{
      width:100%;
      background-color: $bgGay;
      &>div{
        line-height:60px;
      }
      .leftArrow{
        width:10%;
        -webkit-transform: rotate(180deg);
        img{
          display: inline-block;
          margin-top: 24px;
          width: 10px;
        }
        &:active{
          @include activeBg;
        }
      }
      .content{
        width:80%;
        text-align: center;
        font-weight:bold;
        color: #000;
        font-size: 20px;
      }
      .rightArrow{
        width:10%;
        img{
          display: inline-block;
          margin-top: 20px;
          width: 10px;
        }
        &:active{
          @include activeBg;
        }
      }
    }
    .week{
      width:100%;
      height:60px;
      background-color: $bgGay;
      ul{
        width:100%;
        height:100%;
        li{
          width:14.2%;
          text-align: center;
          line-height: 60px;
          font-size: 18px;
          span{
            color:$subColor;
          }
          &.special{
            //color:$bgPink;
          }
        }
      }
    }
    .days{
      width:100%;
      margin-top: 30px;
      .dayItem{
        position: relative;
        width:100%;
        .day{
          width:14.2%;
          height:30px;
          float: left;
          position: relative;
          font-size: 18px;
          text-align: center;
          margin: 25px 0 0;
          &:after{
            content: '';
            position: absolute;
            top: 18px;
            left: 47%;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background:#FFF;
          }
          &.active{
            color:$bgPink;
          }
          &.active:after{
            background:$bgPink;
          }
        }
      }
    }

    .tips{
      position: fixed;
      left:15px;
      bottom:30px;
      width:100%;

      .day{
        display: inline-block;
        width: 50px;
        height: 50px;
        float: left;
        position: relative;
        font-size: 18px;
        text-align: center;
        color:$bgPink;
        border-radius: 25px;
        border: 1px solid rgba(128, 128, 128, 0.27);
        line-height: 50px;
        &:after{
          content: '';
          position: absolute;
          top: 33px;
          left: 47%;
          width: 4px;
          height: 4px;
          border-radius: 2px;
          background:$bgPink;
        }
      }

      .text{
        display: inline-block;
        font-size:16px;
        margin:20px 10px;
        color:$subTitle;
      }

    }
  }

  //城市选择
  .citys{
    width:100%;
    position: absolute;
    left:0px;
    top:0px;
    background-color: rgba(0,0,0,.6);
    display: none;

    .selected{
      position: fixed;
      background-color: #FFFFFF;
      top:0px;
      left:0px;
      width:100%;
      height:100px;
      line-height: 100px;
      border-bottom:1px solid $subTitle;

      .tip{
        width: 200px;
        font-size: 32px;
        margin-left: 30px;
      }
      .selectCity{
        margin-left:20px;
        span{
          padding: 10px 20px;
          border: 1px solid #888888;
          color: #888888;
          border-radius: 4px;
          font-size: 30px;
          background-color: rgba(252, 135, 181, 0.22);
          /* display: inline-block; */
          margin-right: 20px;
        }
      }

    }
    .lists{
      width:100%;
      background-color: #FFF;
      margin-top: 100px;
      .list{
        height: 90px;
        line-height: 90px;
        width:100%;
        border-bottom:1px solid $subTitle;
        span{
          display: inline-block;
          margin-left: 30px;
          color:$subColor;
          font-size: 32px;
        }
        &:active{
          @include activeBg;
        }
      }
    }
  }

  .pay{
    position: relative;
    width:100%;
    background-color: #edf0f7;

    //头部
    header{
      width:100%;
      background: #FFF;
      height: 250px;
      .contents{
        position: relative;
        height:100%;
        margin: 10px 30px;
        .logo{
          width:30%;
          height: 100%;
          background-image: url(../images/zhifu/yuesao_six.png);
          background-repeat:no-repeat;
          background-position: center;
          text-align: center;
          img{
            display: inline-block;
            width: 110px;
            margin-top: 60px;
          }
        }
        .content{
          width:70%;
          height: 100%;
          .item{
            width:100%;
            font-size:28px;
            &.mt70{
              margin-top: 70px;
            }
            .name{
              color: #333;
              font-size: 36px;
              font-weight: bold;
              display: inline-block;
              margin: 0 15px ;
            }
            .text1{
              color: #888;
              display: inline-block;
              margin: 40px 15px;
            }
            .text2{
              color:#333;
              font-size: 36px;
              font-weight:bold;
            }
          }
        }
      }


    }

    //中间隔线
    .line{
      position: relative;
      width:100%;
      height:80px;
      border-top:1px solid #dfdfdf;
      border-bottom:1px solid #dfdfdf;
      div{
        margin:0 30px;
        line-height:80px;
        color:#888;
        font-size: 32px;
      }
    }

    //服务信息
    .serviceInfo{
      position: relative;
      width:100%;
      background-color: #FFF;
      .item{
        width:100%;
        border-bottom:1px solid #DFDFDF;
        .text{
          position: relative;
          margin:0 30px;
          height: 65px;
          color:#333;
          padding:5px 0;
          .tip{
            font-size: 24px;
            color: #b2b2b2;
            line-height: 30px;
          }
          .key{
            width:30%;
            height:100%;
            line-height: 65px;
            display: inline-block;
            font-size: 32px;
          }
          .val{
            width:65%;
            height:100%;
            input,span{
              width:100%;
              height:100%;
              border:none;
              font-size: 32px;
              background-color: transparent;
            }
            span{
              display: inline-block;
              line-height: 65px;
              color: rgba(128, 128, 128, 0.68);
            }
          }
          .arrow{
            position: absolute;
            width: 27px;
            height: 45px;
            right: 0px;
            top: 20px;
            -webkit-transform: scale(0.6);
            transform:scale(0.6);
            background-image: url(../images/zhifu/right_3x.png);
          }
        }

        .options{
          position: relative;
          margin:20px 0 50px;
          .option{
            border:1px solid #ff72ae;
            color:#ff72ae;
            font-size: 28px;
            padding: 10px 0px;
            width:150px;
            text-align: center;
            margin-left:40px;
            float: left;
            &.active{
              background-color: #ff72ae;
              color:#FFF;
            }
          }
        }
      }

      .bz_box {
        margin-bottom: 35px;
        color: #b2b2b2;
        font-size: 1.5rem;
        position: relative;

        textarea{
          width: 100%;
          height: 240px;
          font-size: 28px;
          margin: 10px 30px;
        }

        .jishu{position:absolute;right:0;bottom:10px;}
      }

      .tiaokuan{
        width:100%;
        border-bottom:1px solid #dfdfdf;
        height:80px;
        font-size: 28px;
        .comList_checkbox{opacity:0;}
        .comList_forCheckbox{
          width:40px;
          height:40px;
          color:Red;
          cursor:pointer;
          text-align:center;
          display:inline-block;
          border:1px solid #cbcbcb;
          border-radius:20px;
          background-color:#fff;
          line-height: 21px;
        }
        .tk_box{width:40px;height:40px;margin-left:4%;margin-top:2%;float:left;}
        .tongyi{height:3.09333rem;line-height:80px;color:#333;float:left;margin-left:20px;}
        .fuwuxieyi{height:3.09333rem;line-height:80px;color:#225fba;float:left;}

      }

    }

    .btnInfo{
      .submit{
        width: 100%;
        height: 80px;
        background-color: #ff72ae;
        line-height: 80px;
        color: #fff;
        text-align: center;
        font-size: 32px;
        border: none;
        margin-top: 75px;
      }

    }


  }
}
