//----------------公共全局变量----------
//背景灰：#edf0f7
//粉红色：#fc87b5
//副标题：#b2b2b2
//详情里面的副标题：#888888
$bgGay:#edf0f7;
$bgPink:#fc87b5;
$subTitle:#b2b2b2;
$subColor:#888888;
@mixin activeBg{
  background-color: rgba(0,0,0,.1);
}

//----------------公共全局代码----------start
html {
  position: relative;
  color: #000;
}

body {
  min-height: 480px;
  font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
  font-size: 12px;
  color: #333;
  padding: 0;
  -webkit-user-select: none;
  width: 375px;
  margin: 0 auto;
  /*box-shadow: rgb(123, 101, 117) 0px 0px 160px 0px;*/
}

cite, em {
  font-style: normal;
}

article, section {
  display: block;
}

dl, dd, ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

img {
  vertical-align: top;
}
.cb{
  clear:both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cs {
  zoom: 1;
}

.cs:after {
  content: " ";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.oh {
  overflow: hidden;
}

.oa {
  overflow: auto;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

//----------------公共全局代码----------end

//----------------首页-------------
.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin:0 auto;

  //设置宝宝预产期
  .register{
    height:45px;
    width:100%;
    line-height: 45px;
    color: $bgPink;
    font-size: 14px;
    .icon-2{
      margin:12px 15px 0 10px;
      img{
        width:22px;
      }
    }
    .icon-3{
      margin:13px 15px 0 0;
      img{
        width:9px;
      }
    }
    &:active{
      @include activeBg;
    }
  }

  // 幻灯片
  .jm-banner {
    position: relative;
    width: 100%;

    .swiper-container{
      width:100%;
      img{
        width:100%;
      }
      .swiper-pagination{
        .swiper-pagination-bullet{
          width: 13px;
          height: 4px;
          display: inline-block;
          border-radius: 0;
          background: #fc87b5;
          opacity: .3;
        }
        .swiper-pagination-bullet-active{
          opacity:1;
          background: $bgPink;
        }
      }

    }
  }

  .service{
    position: relative;
    background-color: $bgGay;
    //住家月子服务
    .jm-service1{
      position: relative;
      margin-top: 20px;
      background-color: #FFF;
      .title{
        text-align: center;
        font-size: 18px;
        color: #000000;
        margin: 15px 0;
      }
      .specialAd{
        position: absolute;
        right: 15px;
        padding: 5px;
        top: 13px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        color: #ef4f4f;
        font-size: 12px;
        border: 1px solid #ef4f4f;
        &:active{
          @include activeBg
        }

      }
      .part1{
        margin:0 15px;
        img{
          width:100%
        }
      }
      .part2{
        margin:0 15px;
        .ad{
          width:165px;
          margin: 20px 0 10px;
          img{
            width:100%;
          }
          .text{
            width: 100%;
            height: 25px;
            line-height: 30px;
            color: #FFF;
            background-color: #fc87b5;
            text-align: center;
            font-size: 14px;
          }
          .subText{
            text-align: center;
            margin:10px 0;
            font-size: 12px;
            div{
              color: $subTitle;
              display: inline-block;
              &.through{
                text-decoration: line-through;
              }
              img{
                width:12px;
                margin-left: 5px;
              }
            }
          }
        }

      }
    }

    //服务保障
    .jm-service2{
      .items{
        margin:0 15px;
        .item{
          width: 70px;
          float: left;
          margin: 0 8px;
          padding-bottom: 20px;
          .circle{
            width:59px;
            border:1px solid $bgPink;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;;
            margin: 0 auto;
            img{
              width: 40px;
              display: inline-block;
              margin: 10px;
            }
          }
          .text{
            color:$subColor;
            font-size: 14px;
            margin-top: 10px;
            width:100%;
            text-align: center;
          }
          &:active{
            @include activeBg;
          }
        }
        .arrowIcon{
          float:left;
          margin:25px 8px;
          img{
            width:4px;
          }
        }
      }

    }

  }

  .calendar{
    .month{
      width:100%;
      background-color: $bgGay;
      &>div{
        line-height:60px;
      }
      .leftArrow{
        width:10%;
        -webkit-transform: rotate(180deg);
        img{
          display: inline-block;
          margin-top: 24px;
          width: 10px;
        }
        &:active{
          @include activeBg;
        }
      }
      .content{
        width:80%;
        text-align: center;
        font-weight:bold;
        color: #000;
        font-size: 20px;
      }
      .rightArrow{
        width:10%;
        img{
          display: inline-block;
          margin-top: 20px;
          width: 10px;
        }
        &:active{
          @include activeBg;
        }
      }
    }
    .week{
      width:100%;
      height:60px;
      background-color: $bgGay;
      ul{
        width:100%;
        height:100%;
        li{
          width:14.2%;
          text-align: center;
          line-height: 60px;
          font-size: 18px;
          span{
            color:$subColor;
          }
          &.special{
            //color:$bgPink;
          }
        }
      }
    }
    .days{
      width:100%;
      margin-top: 30px;
      .dayItem{
        position: relative;
        width:100%;
        .day{
          width:14.2%;
          height:30px;
          float: left;
          position: relative;
          font-size: 18px;
          text-align: center;
          margin: 25px 0 0;
          &:after{
            content: '';
            position: absolute;
            top: 18px;
            left: 47%;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background:#FFF;
          }
          &.active{
            color:$bgPink;
          }
          &.active:after{
            background:$bgPink;
          }
        }
      }
    }

    .tips{
      position: fixed;
      left:15px;
      bottom:30px;
      width:100%;

      .day{
        display: inline-block;
        width: 50px;
        height: 50px;
        float: left;
        position: relative;
        font-size: 18px;
        text-align: center;
        color:$bgPink;
        border-radius: 25px;
        border: 1px solid rgba(128, 128, 128, 0.27);
        line-height: 50px;
        &:after{
          content: '';
          position: absolute;
          top: 33px;
          left: 47%;
          width: 4px;
          height: 4px;
          border-radius: 2px;
          background:$bgPink;
        }
      }

      .text{
        display: inline-block;
        font-size:16px;
        margin:20px 10px;
        color:$subTitle;
      }

    }
  }

}
